.navbar {
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	animation: firstScaleHeader 3s;

	@keyframes firstScaleHeader {
		from {
			transform: translateY(-50px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.logo {
		margin-left: 25px;

		img {
			width: 50px;
			height: 50px;
		}
	}

	h1 {
		color: #ffffff;
		font-weight: 300;
		text-transform: uppercase;
	}
}
