.snowfall {
	position: absolute;
	top: -5%;
	left: 0;
	width: calc(100% - 40px);
	height: 100vh;
	background-color: transparent;
	pointer-events: none;
	z-index: 50;
}

.snowflake {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	color: white;
	user-select: none;
	pointer-events: none;
	animation: fall linear infinite;
	z-index: 50;
	opacity: 1;
}

@keyframes fall {
	to {
		top: 100vh;
	}
}
